body {
    margin: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.container {
    width: 1000px;
    border: 1px solid black;
}

header {
    border: 1px solid black;
    height: 100px;
    margin: 10px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

main {
    margin: 10px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

main div {
    border: 1px solid black;
    width: 49%;
    height: 400px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

a {
    height: 40px;
    width: 80px;
    background-color: lavender;
    display: flex;
    justify-content: center;
    align-items: center;
    text-decoration: none;
}

footer {
    border: 1px solid black;
    height: 100px;
    margin: 10px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}